@font-face {
  font-family: "Oswald";
  src:
    url("../assets/fonts/Oswald-VariableFont_wght.ttf") format("ttf"),
    url(../assets/fonts/Oswald-VariableFont_wght.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Epilogue";
  src:
    url("../assets/fonts/Epilogue-VariableFont_wght.ttf") format("ttf"),
    url(../assets/fonts/Epilogue-VariableFont_wght.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fredoka";
  src:
    url("../assets/fonts/Fredoka-VariableFont_wdth\,wght.ttf") format("ttf"),
    url(../assets/fonts/Fredoka-VariableFont_wdth\,wght.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}