@use "reset";

@font-face {
  font-family: "Oswald";
  src:
    url("../assets/fonts/Oswald-VariableFont_wght.ttf") format("ttf"),
    url(../assets/fonts/Oswald-VariableFont_wght.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Epilogue";
  src:
    url("../assets/fonts/Epilogue-VariableFont_wght.ttf") format("ttf"),
    url(../assets/fonts/Epilogue-VariableFont_wght.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fredoka";
  src:
    url("../assets/fonts/Fredoka-VariableFont_wdth\,wght.ttf") format("ttf"),
    url(../assets/fonts/Fredoka-VariableFont_wdth\,wght.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$bg-color: #fff;
$accent-color: #ffc222;
$red-accent: #de0000;
$grey: #ccc;
$green: #00a149;
$dark-grey: #212121;

body {
  background-color: $bg-color;
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  height: fit-content;
}

header {
  margin: 0 auto;
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  max-width: 1440px;
  font-family: "Oswald", sans-serif;

  .logo {
    width: 100px;
    height: 48px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  li button {
    height: 100%;
    box-shadow: 0 0 10px 3px $grey;

    &:hover {
      box-shadow: 0 0 10px 3px $grey inset;
    }

    &.active {
      background-color: $green;
      color: $bg-color;
    }
  }

  #contact-us {
    background-color: $accent-color;
    box-shadow: 0 0 10px 3px $grey;

    &:hover {
      box-shadow: 0 0 10px 3px $grey inset;
    }
  }
}

#content {
  .hero {
    position: relative;
    padding: 143px 20px;
    width: 100%;
    background-image: url(../assets/img/hero-bg.webp);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font-family: "Oswald", sans-serif;

    &__text {
      position: relative;
      max-width: 425px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .slogan {
        color: $accent-color;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
      }

      .title {
        color: $bg-color;
        font-size: 100px;
        font-weight: 500;
        line-height: 105px;
      }

      .subtitle {
        color: $bg-color;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          color: $bg-color;
          font-size: 55px;
          font-weight: 600;
          line-height: 62px;
        }
      }

      .order-btn {
        background-color: #ee284b;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 17px;
        font-weight: 600;
        max-width: 250px;
        padding: 15px 30px;
        color: $bg-color;
      }
    }
  }

  .about {
    padding: 0 20px 73px 20px;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    h2 {
      font-family: "Fredoka", sans-serif;
      font-size: 50px;
      line-height: 60px;
      font-weight: 500;
    }

    &__content {
      display: grid;
      grid-template-columns: 60% 1fr;
      grid-template-rows: auto repeat(3, min-content) auto;
      row-gap: 20px;
      column-gap: 30px;
      font-family: "Epilogue", sans-serif;
    }

    &__image {
      grid-column: 1;
      grid-row: 1 / -1;
      max-width: 740px;
      width: 100%;
    }

    &__text {
      grid-column: 2;
      grid-row: 2;
      font-size: 16px;
      font-weight: 300;
    }

    &__note {
      display: flex;
      flex-direction: row;
      gap: 15px;
      align-items: center;
      justify-content: flex-start;

      &:not(:last-child) {
        grid-column: 2;
        grid-row: 3;
      }

      &:last-child {
        grid-column: 2;
        grid-row: 4;
      }

      .note__img {
        width: 85px;
        height: 85px;
        border-radius: 100px;
        border: 2px solid $accent-color;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin: 0 auto;
        }
      }

      .note__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;

        h3 {
          font-family: "Fredoka", sans-serif;
          font-size: 22px;
          line-height: 37px;
          font-weight: 400;
        }

        p {
          font-family: "Epilogue", sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 27px;
          color: #555;
          max-width: 320px;
        }
      }
    }
  }

  .menu {
    margin: 0 auto;
    width: 100%;
    background-image: url(../assets/img/menu-bg.webp);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 120px 20px;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;

    p {
      color: $green;
      font-size: 17px;
      font-weight: 600;
      line-height: 28px;
    }

    h2 {
      color: $dark-grey;
      font-size: 60px;
      font-weight: 600;
      line-height: 67px;
      margin-bottom: 20px;
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: auto;
      max-width: 100%;
      width: 100%;
      row-gap: 40px;
      column-gap: 30px;
    }

    &__item {
      background: url(../assets/img/card-bg.webp);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      padding: 20px 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      border-radius: 14px;
      min-width: 300px;

      img {
        width: 222px;
        aspect-ratio: 1 / 1;
      }

      h4 {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        color: $dark-grey;
      }

      hr {
        background-color: $accent-color;
        border: none;
        width: 40%;
        height: 2px;
      }

      p {
        color: $red-accent;
        font-size: 17px;
        font-weight: 500;
        line-height: 28px;
      }
    }
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
